---
import "../styles/Index.css";

import Head from "../layouts/Head.astro";
import MainHero from "../layouts/MainHero.astro";
import Langs from "../layouts/Langs.astro";
---

<Head>
  <div class="snap-y snap-mandatory h-screen w-screen overflow-auto">
    <MainHero />
    <Langs />
  </div>
</Head>
