---
import Head from "../layouts/Head.astro";
import "../styles/Portfolio.css";

import { portfolio } from "../json/portfolio";
import SideBar from "../layouts/SideBar.astro";
import Project from "../layouts/Project.astro";
---

<Head title={"darvin's portfolio"}>
  <SideBar />
  <div class="pcontainer">
    <h1 class="heading">
      <span class="emptext">PORTFOLIO</span>
    </h1>
    <br />
    <div class="flex flex-col gap-4 p-4">
      {portfolio.map((pro) => <Project pro={pro} />)}
    </div>
  </div>
</Head>

<style>

  .pcontainer {
    @apply container mx-auto snap-start flex flex-col gap-3 justify-center bg-gray-800 text-white;
  }
</style>
