---
import { Icon } from "astro-icon";

import SideBarIcon from "../components/SideBarIcon.astro";
---

<div class="sidebar">
  <SideBarIcon text="Home">
    <a class="sidebaricon" href="/">
      <Icon name="ant-design:home-filled" />
    </a>
  </SideBarIcon>
  <!-- <Divider /> -->
  <SideBarIcon text="Portfolio">
    <a class="sidebaricon" href="/portfolio">
      <Icon name="bytesize:work" />
    </a>
  </SideBarIcon>
  <!-- <SideBarIcon icon={} />
  <SideBarIcon icon={} />
  <Divider />
  <SideBarIcon icon={} /> -->
</div>

<style>
  .sidebar {
    @apply sm:fixed 
      top-0 sm:left-0 
      sm:h-screen w-screen sm:w-20 
      flex sm:flex-col
      bg-white dark:bg-gray-900 shadow-lg ;
      /* sm:mb-10; */
  }

  .sidebaricon {
    @apply h-5 w-5;
  }
</style>
